.header
  =render "products/header"
.category__title
.category__items
  .category__items__box
    .category__items__box__content
      - @products.each do |product|
        .category__items__box__content__item
          =link_to product_path(product.id) do
            .category__items__box__content__photo
              = image_tag product.images.first.image.url, class:"content__photo__imag"
            .category__items__box__content__detil
              .category__items__box__content__detil__name
                = product.name
              .category__items__box__content__detil__price
                = product.price 
                円
.footer
  =render 'products/footer'