.header
  =render "products/header"
-# - breadcrumb :children, @children
-# = render "layouts/breadcrumbs"
.category__title
.category__items
  =render "products/product_result"
.footer
  =render 'products/footer'