.wallpaper
  .main
    .main__right-contents
      .credit-head
        支払い方法
      .credit-main
        .credit-main__h3
          クレジットカード一覧
        .credit-main__add-card
          %input{:type => "submit", :value => "クレジットカードを追加する", :class => "credit-main__add-card--button"}
    = render "side_ber"