.item-image{"data-image" => "${file.name}"}
  .item-image__content
    .item-image__content--icon
      %img{:height => "80", :src => "${src}", :width => "114"}/
  .item-image__operetion
    .item-image__operetion--delete 削除
