.result__title {
  margin-top: 30px;
  background-color: #3CCACE;
  height: 70px;
  line-height: 70px;
  p {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
  }
}
.category__items {
  width: 100vw;
  height: 100vh;
  background-color:#F2F2F2;
  &__box {
    padding-top: 50px;
    &__content {
      display: flex;
      &__item {
        margin-left: 30px;
        background-color: white;
        display: inline-block;
        text-decoration: none;
        .content__photo__imag {
          height: 150px;
          width: 220px;
          object-fit: cover;
        }
      }
      &__detil {
        background-color: white;
        width: 100%;
        height: 58px;
        padding: 8px 12px;
        &__name {
          margin-bottom: 5px;
        }
      }
    }
  }
}