.main__pickup__content {
  height: 100%;
  padding-top: 80px;
  background-color: #f8f8f8;

  &__category {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    padding-bottom: 15px;
    font-weight: bold;
  }

  &__subtitle {
    text-align: center;
    p {
      text-decoration: none;
      font-weight: bold;
      color: #3CCACE;
      font-size: 24px;
    }
  }

  &__productlist {
    width: 780px;
    margin: 26px auto;
    display: flex;

    a{
      text-decoration: none;
    }

    &__newitem {
      margin: 0 26px;
      width: 780px;
      display: flex;
      justify-content: space-between;
      
      &__box{
        background-color: white;
        width: 220px;
       
        &__text{
          padding: 16px;

          &__name{
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          }

          &__price{
            line-height: 1.5;
            font-size: 16px;
            text-align: left
          }

          p {
            font-size: 12px;
            text-align: left;
          }
        }
      }
    }
  }
}
