.seller__main{
  height: 80%;
  width: 100vw;
  background-color: #EEEEEE;
  padding: 0 60px;
  &__content{
    background-color: white;
    height: 100%;
    max-width: 700px;
    margin: auto;
    font-size: 10px;
    &__box{
      height: 100%;
      padding: 60px;
      &__name{
        display: flex;
        &__text1{
          padding-bottom: 20px;
        }
        &__text2{
          height: 15px;
          text-align: center;
          background-color: red;
          margin-left: 15px;
          color: white;
          border-radius: 2px;
        }
      }
      &__text{
        padding-top: 5px;
      }
      &__image{
        background-color: rgb(245, 245, 245);
        border: 1px dashed gray;
        margin-top: 5px; 
        size: 10px;
        &__upload{
          text-align: center;
          width: 100%;
          padding-bottom: 20px;
        }
        &__area{
          display: none;
        }
        &__icon{
          line-height: 70px;
          text-align: center;
          height: 50px;
          width:100%;
          font-size: 15px;
        }
      }
    }
    &__box2{
      height: 100%;
      padding: 60px;
      &__item{
        display: flex;
        margin-bottom: 5px;
        &__name2{
          margin-left: 15px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      &__form4{
        font-size: 15px;
        height: 45px;
        width: 100%;
        margin: 5px 0 20px;
        border-radius: 5px;
        border: solid 1px;
        border-color: #ccc;
      }
      &__expeanatory{
        display: flex;
        &__text2{
          margin-left: 15px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      &__form2{
        height: 100px;
        width: 100%;
        margin: 5px 0 20px 0;
        border-radius: 4px;
        border-color: #ccc;
      }
      &__textcount{
        color: gray;
        text-align: right;
      }
    }
    &__box3{
      height: 100%;
      padding: 60px;
      &__category{
        display: flex;
        margin-top: 20px;
        &__name2{
          margin-left: 10px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      &__form1{
        width: 100%;
        margin: 10px 0 20px 0;
        &__category{
          height: 30px;
          width: 100%;
          background-color: white;
        }
      }
      &__brand{
        display: flex;
        &__name2{
          margin-left: 10px;
          background-color: gray;
          color: white;
        }
      }
      &__form2{
        height: 40px;
        width: 100%;
        margin: 5px 0 30px 0;
        border-radius: 5px;
      }
      &__status{
        display: flex;
        margin: 10px 0 0 0;
        &__name2{
          margin-left: 10px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      &__form3{
        width: 100%;
        margin: 10px 0 20px 0;
        &__category{
          height: 30px;
          width: 100%;
          background-color: white;
        }
      }
    }
    &__box4{
      height: 100%;
      padding: 60px;
      &__shipping__charges{
        margin-top: 20px;
        display: flex;
        &__name2{
          margin-left: 10px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      &__form1{
        width: 100%;
        margin: 10px 0 20px 0;
        &__category{
          height: 30px;
          width: 100%;
          background-color: white;
        }
      }
      &__shipping__area{
        margin-top: 20px;
        display: flex;
        &__name2{
          margin-left: 10px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      &__form2{
        width: 100%;
        margin: 10px 0 20px 0;
        &__category{
          height: 30px;
          width: 100%;
          background-color: white;
        }
      }
      &__shipping__days{
        margin-top: 20px;
        display: flex;
        &__name2{
          margin-left: 10px;
          background-color: red;
          color: white;
          border-radius: 2px;
        }
      }
      &__form3{
        width: 100%;
        margin: 10px 0 20px 0;
        &__category{
          height: 30px;
          width: 100%;
          background-color: white;
        }
      }
    }
    &__box5{
      height: 100%;
      padding: 60px;
      font: inherit;
      &__price{
        padding: 10px 0 10px 0;
        display: flex;
        line-height: 50px;
        &__name1{
          align-items: center;
          margin-bottom: 10px;
          }
        &__name2{
          height: 14px;
          margin: 18px 0 0 10px;
          background-color: red;
          color: white;
          border-radius: 2px;
          line-height:  14px;       
        }
        &__span{
          margin: 0 5px 0 205px;
        }
        &__form{
          height: 25px;
          width: 50%;
          background-color: white;
          border: 1px  rgb(224, 221, 221);
          text-align: right;
          &__4{
            font-size: 16px;
            height: 40px;
            width: 100%;
            margin: 5px 0 20px;
            border-radius: 5px;
            border: solid 1px;
            border-color: #ccc;
            text-align: right;
          }
        }
      }
      &__commission{
        width: 100%;
        margin: 10px 0 20px;
        display: flex;
        &__name1{
          margin-left: auto;
        }
      }
        &__commission2{
          width: 100%;
          margin: 20px 0 40px;
          display: flex;
        }  
      &__btn{
        margin-bottom: 32px;
        width: 100%;
        display: flex;
        justify-content: center;
        &__exhibition{
          height: 50px;
          width: 350px;
          text-align: center;
          background-color: #3CCACE;
          border-radius: 4px;
          color: white;
          font-size: 17px;
          font-weight: 600;
          line-height: 30px;
        }
        &__exhibition:hover{
          cursor: pointer;
        }
        &__draft{
          height: 30px;
          width: 200px;
          margin: 0 0 25px 200px;
          text-align: center;
          background-color: rgb(224, 221, 221);
          border-radius: 2px;
          font-size: 12px;
        }
        &__return{
          color: #0095ee;
          text-align: center;
          margin: 0 0 25px 280px;
          border: 0;
        }
      }
    }
  }
}

// collection_selectフォームのCSS
#product_category{
  @include product-collection-box;
}

#product_status_id{
  @include product-collection-box;
}

#product_delivery_cost_id{
  @include product-collection-box;
}

#product_prefecture_id{
  @include product-collection-box;
}

#product_days_to_ship_id{
  @include product-collection-box;
}
// ここまで

.signup-container {
  height: 100%;
  width: 100vw;
  background-color: #EEEEEE;
  

  .signup-header {
    height: 128px;
    text-align: center;
    align-items: center;
    max-width: inherit;
    font-size: inherit;
    display: flex;

    &__box1 {
      margin: 0 auto;
    }

  }
  .signup-main{
    display: block;
    width: max-content;
    margin: 0 auto;
    align-items: center;
    background-color: #ffffff;
    padding: 40px 5px;

    &__box {
      margin: 0 150px;

      &__top {
        font-size: 22px;
        padding: 12px 32px 52px;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
      }
    &__contents {
      height: 300px;
      width: 300px;
    }
      
      .field {
        margin-top: 10px;
      }

      #user_nickname {
        @include input-box();
      }

      #user_email {
        @include input-box();
      }

      #user_password {
        @include input-box();
      }

      #user_password_confirmation {
        @include input-box();
      }

      .text-box {
        margin-top: 20px;
        height: 87px;
        width: 375px;
        font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      }

      p {
        width: 375px;
        margin-top: 5px;
        word-wrap: normal;
        font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      }

      .fullname{
        display: flex;

        #user_first_name {
          @include input-minibox();
        }

        #user_family_name {
          margin-right: 5px;
          @include input-minibox();
        }
      }
      .fullname-kana {
        display: flex;

        #user_first_name_kana {
          @include input-minibox();
        }

        #user_family_name_kana {
          margin-right: 5px;
          @include input-minibox();
        }
      }

      #user_birthday_1i {
        @include birthday-box();
      }

      #user_birthday_2i {
        @include birthday-box();

      }

      #user_birthday_3i {
        @include birthday-box();
      }

      .form-info-text {
        color: #888;
      }

      .form-text {
        margin-top: 40px;

        a {
          color: #0099e8;
          text-decoration: none;
        }
      }

      .submit-btn {
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        background-color: #3CCACE;
        margin: 20px 0 0 0;
      }

      .form-text-right {
        margin-top: 24px;
        text-align: right;
        
        a {
          color: #0099e8;
          text-decoration: none;
        }
      }

      .form-bottom-text {
        margin-top: 44px;
        background-color: #f5f5f5;
        padding: 8px 16px;
        font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
        font-size: 14px;
        color: #888;
      }

      .field-check {
        margin-bottom: 60px;
      }
      
      #address_posting_family_name {
        margin-right: 5px;
        @include input-minibox();
      }
      
      #address_posting_first_name {
        @include input-minibox();
      }
      
      #address_posting_family_name_f {
        margin-right: 5px;
        @include input-minibox();
      }
      
      #address_posting_first_name_f {
        @include input-minibox();
      }
      
      #address_postal_code {
        @include input-box();
      }
      
      #address_prefecture_id {
        height: 48px;
        margin: 10px 0 20px;
      }
      
      #address_city {
        @include input-box();
      }
      
      #address_address {
        @include input-box();
      }
      
      #address_building {
        @include input-box();
      }
      
      #address_telephone {
        @include input-box();
      }

      .form-require {
        font: 66.66667% sans-serif;
        color: #ffffff;
        background-color: #EA352D;
        margin: 0 0 2px 8px;
        padding: 2px 4px;
      }
    }
  }
}

.signup-main-last {
  display: block;
  width: max-content;
  margin: 0 auto;
  align-items: center;
  background-color: #ffffff;
  padding: 40px 5px;
  height: 300px;
  text-align: center;
  line-height: 4;

  &__back {
    color: #3CCACE;
    text-decoration: none;
  }
}
