.wallpaper
  .main2
    .main2__right-contents
      .main2__right-contents__user-icon
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout-button"
    = render "side_ber"