.wallpaper
  .main
    .main__right-contents
      .main__right-contents__products-head
        出品した商品
      .main__right-contents__tabs
        .main__right-contents__tabs
          = link_to "/mypage/my_page_exhibition", class: "main__right-contents__tabs__n1" do
            出品中
          = link_to "/mypage/my_page_exhibiting", class: "main__right-contents__tabs__n1" do
            取引中
          .main__right-contents__tabs__a1
            売却済
      .main__right-contents__content
        %ul
          %li.main__right-contents__content__not 
            売却済の商品がありません
    = render "side_ber"