.footer__contents
  .footer__contents__list
    .footer__contents__list__head
      %p FURIMAについて
    %ul
      %li 
        %a(href="#")
          会社概要（運営会社）
      %li 
        %a(href="#")
          プライバシーポリシー
      %li 
        %a(href="#")
          FURIMA利用規約
      %li 
        %a(href="#")
          ポイントに関する特約
  .footer__contents__list
    .footer__contents__list__head
      %p FURIMAを見る
    %ul
      %li 
        %a(href="#")
          カテゴリー一覧
      %li 
        %a(href="#")
          ブランド一覧
  .footer__contents__list        
    .footer__contents__list__head
      %p ヘルプ＆ガイド
    %ul
      %li 
        %a(href="#")
          FURIMAガイド
      %li 
        %a(href="#")
          FURIMAロゴ利用ガイドライン
      %li 
        %a(href="#")
          お知らせ
.footer__contents__logo
  %a(href="#")
    = image_tag 'logo-white.png', size:'150x47'
%a © FURIMA