.main__pickup__content
  .main__pickup__content__categorie
    %a ピックアップブランド
  .main__pickup__content__productlist
    .main__pickup__content__productlist__new__title
      %a(href="#")
        %p アーカイバ
    .main__pickup__content__productlist__new__items
      .main__pickup__content__productlist__new__item
        %a(href="#")
          .main__pickup__content__productlist__new__item__pic
            = image_tag 'beauty_1583238288662.JPG', size:'220x150'
          .main__pickup__content__productlist__new__item__info
            .main__pickup__content__productlist__new__item__info__name
              %p product3
            .main__pickup__content__productlist__new__item__info__detail 
              .main__pickup__content__productlist__new__item__info__detail__price
                %p 3000円
              .main__pickup__content__productlist__new__item__info__detail__icon
                -# = icon('fas', 'star',class: 'likeIcon')
            .main__pickup__content__productlist__new__item__info__detail__price__tax
              %p (税込み)
      .main__pickup__content__productlist__new__item
        %a(href="#")
          .main__pickup__content__productlist__new__item__pic
            = image_tag 'beauty_1583238288662.JPG', size:'220x150'
          .main__pickup__content__productlist__new__item__info
            .main__pickup__content__productlist__new__item__info__name
              %p product3
            .main__pickup__content__productlist__new__item__info__detail 
              .main__pickup__content__productlist__new__item__info__detail__price
                %p 3000円
              .main__pickup__content__productlist__new__item__info__detail__icon
                -# = icon('fas', 'star',class: 'likeIcon')
            .main__pickup__content__productlist__new__item__info__detail__price__tax
              %p (税込み)
      .main__pickup__content__productlist__new__item
        %a(href="#")
          .main__pickup__content__productlist__new__item__pic
            = image_tag 'beauty_1583238288662.JPG', size:'220x150'
          .main__pickup__content__productlist__new__item__info
            .main__pickup__content__productlist__new__item__info__name
              %p product3
            .main__pickup__content__productlist__new__item__info__detail 
              .main__pickup__content__productlist__new__item__info__detail__price
                %p 3000円
              .main__pickup__content__productlist__new__item__info__detail__icon
                -# = icon('fas', 'star',class: 'likeIcon')
            .main__pickup__content__productlist__new__item__info__detail__price__tax
              %p (税込み)