.main__pickup__content
  .main__pickup__content__categorie
    %a ピックアップカテゴリー
  .main__pickup__content__subtitle
    %p 新規投稿商品
  .main__pickup__content__productlist
    .main__pickup__content__productlist__newitem
      - @product_unsold.last(3).each do |product|
        .main__pickup__content__productlist__newitem__box
          = link_to('#', {}) do
            .main__pickup__content__productlist__newitem__box__pic
              = image_tag product.images[0].image.url, size:'220x150'
            .main__pickup__content__productlist__newitem__box__text
              .main__pickup__content__productlist__newitem__box__text__name
                = product.name
              .main__pickup__content__productlist__newitem__box__text__price
                = product.price 
                円
              .main__pickup__content__productlist__newitem__box__text__icon
              -# = icon('fas', 'star',class: 'likeIcon')
              %p (税込)

