.main__pickup__content
  .main__pickup__content__category
    %a ピックアップブランド
  .main__pickup__content__subtitle
    %p アーカイバ
  .main__pickup__content__productlist
    .main__pickup__content__productlist__newitem
      - @product_unsold.last(3).each do |product|
        .main__pickup__content__productlist__newitem__box
          = link_to product_path(id: product.id) do
            .main__pickup__content__productlist__newitem__box__pic
              = image_tag product.images[0].image.url, size:'220x150', class: "propic"
            .main__pickup__content__productlist__newitem__box__text
              .main__pickup__content__productlist__newitem__box__text__name
                = product.name
              .main__pickup__content__productlist__newitem__box__text__price
                = product.price 
                円
              .main__pickup__content__productlist__newitem__box__text__icon
              %p (税込)

